<ul class="text-center">
  <% @users.each do |user| %>
    <li>    
    <p>Name: <%= link_to user.name, user %></p>
    <p>Lastname: <%= user.lastname%></p>
    <p>Number of friends: <%= user.friendships.count%></p>
    <p>Number of  inverse friends: <%= user.inverse_friendships.count%></p>

    <br>
    <% if user != current_user %>
    <%= button_to 'Add Friend', "#{authenticated_root_path}friendship/create/#{user.id}", method: :post %>     
    <% end %>
    </li> 
    <br>
  <% end %>
</ul>
