<div class= "container-fluid">

  <div class= "row">
    <div class= "col-md-4 col-sm-12 user-info text-center">
      <%= gravatar_for @current_user %>
      <p> <%= @current_user.name %> <%= @current_user.lastname %> </p>
      <p><%= @current_user.email %> </p>
    </div>

    <div class="col-md-8">
    
    <%= render 'shared/newpost' %>
    <% if @current_user.posts.any? %>
      <h3>Posts (<%= @current_user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
    </div>
  </div>
</div>