<li id="post-<%= post.id %>">
  <p class="content"><%= post.user.name %></p>
  <span class="content"><%= post.content %></span>
  <p> <%= post.id %> </p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <%= authenticated_user? %>
  
 
</li>