<section id="posts-list">
  <div class="post-elements">
    <li id="post-<%= post.id %>">
    
      <p class="content"><%= link_to post.user.name, post.user %>   <%= link_to post.user.lastname, post.user %></p>
      <span class="content"><%= post.content %></span>
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago.
      </span>
      <% if authenticated_user? %>
        <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  </div>

<% if post.comments.any?%>
<h3>Comments (<%= post.comments.count %>)</h3>
  <% post.comments.each do |comment| %>
    <li class="comments-list">    
      <span class="user-name"><span><%= link_to comment.user.name, comment.user %></span>    <span><%= link_to comment.user.lastname, comment.user %></span></span>
      <span class="comment-text"><%= comment.text%></span>
      
      <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago.   

      <% if authenticated_comment?(comment.user.name) %>
        <%= link_to "Delete", post_comment_path(post, comment), method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li> 
  <% end %>
<% end %>


<%= form_for(post.comments.new, url: post_comments_path(post)) do |f| %>
  <div class="field-comment">
      <%= f.text_field :text, placeholder: "Comment..." %>
  </div>
    <%= f.submit "Writte a comment.", class: "btn btn-primary btn-publish-comment" %>
<% end %>
</section>
