<h1>Timeline</h1>

<ul class="index-list">
  <% @posts.each do |post| %>
    <li>
      <div class="gravatar-list">   
        <%= gravatar_for(post.user) %>
        <div class= "name-posted-list"> 
        <p><%= link_to post.user.name, post.user %> <%= link_to post.user.lastname, post.user %></p>
        <p><%= time_ago_in_words(post.created_at) %> ago. </p>
        </div> 
      </div>
   
    <p class= "text-center"><%= post.content%></p>
    <br>    
    </li> 
    <br>
  <% end %>
</ul>
