<h1>Timeline</h1>

<ul class="index-list">
  <% @posts.each do |post| %>
    <li>
      <div class="gravatar-list">   
        <%= gravatar_for(post.user) %>
        <div class= "name-posted-list"> 
        <p><%= link_to post.user.name, post.user %> <%= link_to post.user.lastname, post.user %></p>
        <p><%= time_ago_in_words(post.created_at) %> ago. </p>
        </div> 
      </div>
   
    <p class= "text-center"><%= post.content%></p>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% if like_unlike(post) %>
    <%= button_to 'Unlike', post_like_path(post, like_unlike(post)), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(post), method: :post %>
  <% end %>
    <br>    
    </li> 
    <br>
  <% end %>
</ul>
