
  <header class="nav navbar header-info">
  <div class="text-right">
    <% if user_signed_in? %>
    <span> Logged in as <%= current_user.email %> </span>
    <%= link_to 'Profile', current_user, :class => 'navbar-link' %> |
    <%= link_to 'Home', authenticated_root_path, :class => 'navbar-link' %> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>

</header>
